<h1>Log in</h1>

<%= form_with model: @user, url: session_path do |form| %>
  <div class="col-auto mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="col-auto mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="col-auto mb-3">
    <%= form.submit "Log in", class: "btn btn-primary" %>
  </div>

<% end %>

<div class="d-flex align-items-center justify-content-between mb-4">
  <div class="col-auto">
    <!-- callback http://localhost:3000/auth/github/callback -->
    <%= button_to "Sign In with Github", "/auth/github", method: :post, data:{turbo: "false"}, class: "btn btn-secondary" %>
  </div>
  <div class="col-auto">
    <!-- callback http://localhost:3000/auth/twitter/callback -->
    <%= link_to "Sign In with Twitter", "/auth/twitter", data:{turbo: "false"}, class: "btn btn-secondary" %>
  </div>
</div>
<hr>

<%= link_to "Forgot your password?", new_password_reset_path %>
