<h1> Sign Up</h1>

<%= form_with model: @user, url: registration_path do |form| %>
  <%  if form.object.errors.any? %>
    <% form.object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>

  <div class="col-auto mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", placeholder: "name@example.com" %>
  </div>

  <div class="col-auto mb-3">
    <%= form.label :firstname, class: "form-label" %>
    <%= form.text_field :firstname, class: "form-control" %>
  </div>

  <div class="col-auto mb-3">
    <%= form.label :lastname, class: "form-label" %>
    <%= form.text_field :lastname, class: "form-control" %>
  </div>

  <div class="col-auto mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="col-auto mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <div class="col-auto mb-3">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="col-auto">
    <%= form.submit "Sign Up", class: "btn btn-primary mb-3" %>
  </div>

<% end %>
